@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1em;
    margin: 8px;
  }
  
  h1 {
    text-transform: uppercase;
    font-weight: 3em;
  }
  
  header {
    width:500px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  main {

  }
  
  .article {    
    width: 500px; 
    margin:auto;
  }

  .article #banner {
       vertical-align: middle;
       display: inline-block;
  }

  .article h2 {
    display: inline-block;
     font-family: 'Montserrat', sans-serif;
     padding: 0 20px;
     font-size: 2em;
  }
  .article h3 {
    display: inline-block;
     font-family: 'Montserrat', sans-serif;
     padding: 0 20px;
     font-size: 1.5em;
  }
    .article h4 {
     font-family: 'Montserrat', sans-serif;
     font-size: 1em;
     text-align: right;
     font-style: oblique;
  }
  
  .article a,
  .article a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  .article img {
    vertical-align: middle;
    width: 50px;
    margin-left: 30px;
    border-radius: 25px;

    display: inline-block;
  }

.streams div{
  border-radius: 15px;
}

.streams h5 {
     font-family: 'Montserrat', sans-serif;
     font-size: 1em;
  }

.streams h6 {
     font-family: 'Montserrat', sans-serif;
     font-size: 0.7em;
     font-style: oblique;
     text-align: right;
  }
.streams p {
     font-family: 'Montserrat', sans-serif;
     font-size: 0.8em;
     min-height: 150px;
  }


#break {
    background-color: linen;
}

#primary {
    background-color: #7CBFF3;  
    padding: 10px; 
    vertical-align:top;
    display: inline-block;
    width:100px;
}

#digitech {
    background-color: #FFD679;
    padding: 10px;
    vertical-align:top;
    display: inline-block;
    width:100px;
}

#stem {
    background-color: #D1DBFE;
    padding: 10px;
    vertical-align:top;
    display: inline-block;
    width:100px;
}

#senior {
    background-color: #FFC679;
    padding: 10px;
    vertical-align:top;
    display: inline-block;
    width:100px;
}

#agm {
    background-color: #ACBDBA;
    padding: 10px;
    vertical-align:top;
    display: inline-block;
    width:100px;
}
